.App {
  text-align: center;
}
/* body {
  position: relative;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.appNav {
  background-color: transparent;
  position: fixed;
  width: 100%;
  height: 30px;
  z-index: 999;
}
body{
  overflow-x: hidden;
}

.surah-container {
  /* overflow: hidden; */
  background-image: url('../src/images/quran-bg.jpg');
  background-repeat: repeat;
  background-size: contain;
  width: 100%;
  color: white;
  padding: 23px;

  & .ayah {
    font-size: 20px;
    position: relative;
    line-height: 40px;
    & .link {
    }
    & .link:hover {
      cursor: pointer;
      color: goldenrod;
    }

    
    & .after{
      text-align: center;
      position: relative;
      padding: 0 15px;
      height: fit-content;
    }
    & .after::before {
      content: '';
      background-image: url('../src/images/end-ayah.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
      height: 55px;
      width: 50px;
      position: absolute;
      left: 12%;
      top: -20%;

}
  }
  & .ayah.active {
    color: gold; /* Light blue background */
    /* color: #00008b; Dark blue  */
  }
}
/* .fixed-buttons {
  position: sticky;
  bottom: 10px;
  left: -50%;
  z-index: 1000;
  transform: rotate(90deg) translateX(-5%) translateY(425px);
  -webkit-transform: rotate(90deg) translateX(-5%) translateY(425px);
  -moz-transform: rotate(90deg) translateX(-5%) translateY(425px);
  -ms-transform: rotate(90deg) translateX(-5%) translateY(425px);
  -o-transform: rotate(90deg) translateX(-5%) translateY(425px);
} */



.fixed-buttons {
  position: absolute;
  bottom: 10px; /* Ensure the buttons stay near the bottom */
  width: 100%;
  transition: bottom 0.3s ease;
}

.fixed-buttons .btn {
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Optional: On hover, make the buttons scale for effect */
.fixed-buttons .btn:hover {
  transform: scale(1.1); /* Slightly enlarge buttons on hover */
  background-color: #f0f0f0; /* Add some effect to color */
}


.go-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1000;
}

.go-to-top-button {
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.go-to-top-button:hover {
  background-color: #0056b3;
}
